/* Начиная с 1064px  в сторону уменьшения действуют следующие правила */

@media (max-width: 1065px) {
  .section-description__icon-box {
    height: 22rem;
  }

  html {
    font-size: 9px;
  }

  a {
    font-size: 2.2rem;
  }
}

/* Начиная с 800px  в сторону уменьшения действуют следующие правила */

@media (max-width: 800px) {
  .section-description__icon-box {
    height: 20rem;
  }

  html {
    font-size: 8px;
  }

  .section-description__title {
    font-size: 9rem;
  }
}

/* Начиная с 700px  в сторону уменьшения действуют следующие правила */

@media (max-width: 700px) {
  .section-image__block {
    display: none;
  }

  .block-adaptive {
    display: block;
  }
}

/* Начиная с 645px  в сторону уменьшения действуют следующие правила */

@media (max-width: 645px) {
  .section-description__title {
    font-size: 6rem;
  }

  .section-description__icon-box {
    flex-wrap: wrap;
    height: auto;
    gap: 4rem;
  }

  ul {
    justify-content: space-evenly;
    gap: 0;
  }
}

/* Начиная с 370px  в сторону уменьшения действуют следующие правила */

@media (max-width: 370px) {
  a {
    font-size: 1.8rem;
  }
}
